body {
    background-color: rgb(242, 242, 242);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.topnav {
  overflow: hidden;
  background-color: #fff;
}

.topnav a {
  float: left;
  color: #000;
  text-align: center;
  padding: 10px 10px 5px 10px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.img {
  height:10px;
}

